<ion-view class="login_back">
    <ion-content overflow-scroll="false" delegate-handle="mainScroll" on-scroll="mainscrolling();">

        <div class="login-logo">
            <img src="img/logo.png" class="img-responsive">
        </div>

        <div class="login-tab">
           <div class="tab">
              <ul>
                  <li>sign in</li>
                  <li>sign up</li>
              </ul>
              
           </div>
            <div class="Login">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Username</span>
                        <input type="text" placeholder="Username">
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password">
                    </label>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>